* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;/*AVERIGUAR PARA QUE ES*/
  font-family: "Roboto", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
  text-decoration: none;
  color: #6b6b6b;
  /* color: #000; */
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #091A28;
  background-color: #072946; */
}


/*INICIO DE HEADER*/
header {
  width: 100%;
  height: 4em;
  top: 0;
  right: 0; /*NO USE*/  
}
.nav {
  width:100% ;
  font-size: 1em;
  display: flex;
  justify-content: right;
}
.bar-nav {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  overflow: auto;
  list-style: none;
  position: fixed;
  background-color: #072946;
}
.nav-link i,
a {
  color: #ffffff;
}
.nav-link button {
  font-size: 1em;
  border: solid #fff 1px;
  border-radius: 15%;
  padding: 3px;
  color: #fff;
  background-color: #072946;
}
.nav-link i:hover {
  color: #6b6b6b;
}
.nav-link a:hover {
  color: #6b6b6b;
}
.nav-link button:hover {
  color: #6b6b6b;
}



/*INICIO DE MAIN*/
main {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  object-fit: cover;
  width: 15em;
  border-radius: 50%;
  box-shadow: #072946 0 0 1em;
}
.home-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
}
.title {
  font-size: 2em;
  line-height: 1em;
  color: #072946;
}
.presentation {
  padding-top: 1em;
  font-size: 1.1em;
}



/*INICIO DE PROYECTOS*/
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/*--TITULO--*/
.proyects-title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1em;
}
.button-prev,
.button-next
{
  width: 10%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyects-title h2 {
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/*--CARRUSEL--*/
.carousel {
  width: auto;
  height: 70%;
  overflow: hidden;
  /* Oculta el desbordamiento 
  horizontal */
}
.track {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: transform 1s ease;
}

.slick {
  width: 100%;
  height: 90%;
  flex: 0 0 auto;
  border: solid 0.1em #072946;
  box-shadow: #072946 0 0 .5em;
  border-radius: 1em;
}
/*---IMG---*/
.slick .img {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  object-fit: cover;
  width: 80%;
  border-radius: 5%;
}
/*---BTN---*/
.btn-protects {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-protects :hover {
  border-color: #072946;
}
.btn-protects a {
  padding: 0.5em;
  font-size: 1.5em;
  display: block;
  text-align: center;
  border: solid 0.05em #072946;
  border-radius: 0.5em;
  color: #072946;
  transition: background-color 1s ease, color 1s ease; /* Transición suave para el cambio de color */

}
.btn-protects a:hover {
  color: #fff;
  background-color: #072946;
}



/*INICIO DE SERVICES*/
.services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  border: solid 0.1em #072946;
  box-shadow: #072946 0 0 1em;
  border-radius: 1em;
}
.lenguage-icon {
  width: 100%;
  height: 20%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lenguage-icon i {
  color: #072946;
}
.lenguage-text {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}
.lenguage-text h2 {
  font-size: 1.5em;
  color: #072946;
}
.lenguage-text ul{
  height: 60%;
  list-style: none;
  font-size: 2m;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2em;
}



/*CONTACTO*/
.contact {
  width: 100%;
  height: 100vh;
  padding-top: 4em;
  display: flex;
  align-items: center;
}
.form {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: solid 0.1em #072946;
  box-shadow: #072946 0 0 1em;
  border-radius: 1em;
}
.form h2 {
  font-size: 2em;
  color: #072946;
}
.form-header p {
  font-size: 1em;
}
/*---Campos del Formulario---*/
.form-row {
  width: 80%;
}
.form-row input[type="text"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 0.5em;
  width: 100%;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
}
.form-row input[type="email"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 0.5em;
  width: 100%;
  padding: 0.5em;
  font-size: 0.8em;
  text-align: center;
}
.form-row textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 0.8em;
  background-color: #bdbdbd;
  text-align: center;

  min-height: 10em;
  resize: none;
}
.form-row label {
  margin-bottom: 1em;
  text-align: initial;/*???*/
}
.form-row button {
  font-size: 0.8em;
  font-weight: bold;
  
  border: solid 0.1em #072946;
  border-radius: 0.5em;

  color: #6b6b6b;

  padding: 1em 3em;
  cursor: pointer;
}
.form-row button:hover {
  border:solid #072946 0.1em;
  background-color: #072946;
  color: #fff;
}
.form-row button:active {
  border:solid #072946 0.1em;
  background-color: #072946;
  color: #072946;
}




/*INICIO DE FOOTER*/
footer {
  width: 100%;
  height: 4em;
}

.footer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072946;
}

.footer p {
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}

@media (min-width: 768px) {
  /*INICIO HEADER*/
  header {
    width: 80%;
    height: 4em;
    top: 0;
    right: 0; /*NO USE*/
    display: flex;
    justify-content: center;
  }
  .nav {
    font-size: 1.5em;
  }
  .checkbtn {
    display: none;
  }
  .bar-nav {
    width: 100%;
    height: 100%;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  .nav-link {
    width: 20%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-link a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b6b6b;
  }
  .nav-link i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-link .fa-house,
  a 
  {
    color: #6b6b6b;
  }
  .nav-link i:hover {
    color: #ea9a3f;
  }
  .nav-link a:hover {
    color: #ea9a3f;
  }


  /* INICIO DE HOME */
  .home {
    width: 100%;
    height: calc(100vh - 5em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-img img {
    width: 80%;
    border-radius: 50%;
  }
  .home-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 0.2em;
  }
  .presentation {
    margin-top: 0.2em;
    font-size: 2em;
  }


  /*/INICIO PROYECT*/
  .proyects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .proyect {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 0.1em #6b6b6b;
    border-radius: 1em;
  }
  .iframe {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iframe Iframe{
    width: 100%;
  }
  .btn-protects {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-protects a {
    padding: 0.5em;
    font-size: 2em;
    display: block;
    text-align: center;
    border: solid 0.1em #6b6b6b;
    border-radius: 0.5em;
  }
  

  /*INICIO DE SERVICES*/
  .services {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .service {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.1em #6b6b6b;
    border-radius: 1em;
  }
  .code {
    width: 100%;
    height: 20%;
    font-size: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .code-text{
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .code-text h2 {
    font-size: 2em;
    color: #ea9a3f;
  }
  .code-text p {
    font-size: 1.5em;
  }
  .repair {
    width: 100%;
    height: 20%;
    font-size: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .repair-text{
    width: 80%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .repair-text h2 {
    font-size: 2em;
    color: #ea9a3f;
  }
  .repair-text p {
    font-size: 1.5em;
  } 
}
